torch
transformers
bitsandbytes
chromadb
protobuf==3.20.*
pandas
matplotlib
nbformat>=4.2.0
ipykernel
IPython

langchain
langchain-community
langchainhub
langchain-chroma
sentence-transformers
faiss-gpu
openpyxl
pacmap
datasets
ragatouille