gradio
torch
transformers
einops
accelerate
bitsandbytes
chromadb
protobuf==3.20.*
sentencepiece
pandas
matplotlib
plotly
nbformat>=4.2.0
ipykernel

langchain
langchain-community
langchainhub
langchain-chroma
bs4
sentence-transformers
faiss-gpu
openpyxl
pacmap
datasets
tqdm
ragatouille